[Desktop Entry]
Version=0.0.1
Name=BinaryHexConversionsPractice
Comment=Decimal to Binary and Hex conversions practice
Exec=python /usr/bin/BinaryHexConversionsPractice/BinaryHexConversionsPractice.py
Icon=/usr/bin/BinaryHexConversionsPractice/images/logo.png
Terminal=false
Type=Application
Categories=Utility;Application;