[Desktop Entry]
Version=1.0
Name=BinaryHexConversionsPractice
Comment=Decimal to Binary and Hex conversions practice
Exec=BinaryHexConversionsPractice
Icon=/usr/share/BinaryHexConversionsPractice/images/logo.png
Terminal=false
Type=Application
Categories=Utility;Application;